!!! 5
%head
 %title Blogs
 = csrf_meta_tags
 = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
 = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
 %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  .container
   .navbar-brand= link_to "Main", root_path
   %ul.nav.navbar-nav.navbar-right
    %li= link_to "New Post",  new_post_path
    %li= link_to "Sign Out",  destroy_user_session_path, method: :delete
    %li= link_to "Sign in",  new_post_path

- if notice
 = notice
- if alert
 = alert

.container
 =yield
